/* .main-div{
    border: 2px solid black;
    width: 550px;
    margin: auto;
    padding: 10px;
    margin-top: 100px;
}
#heads-tail{
    margin: 15px;
    margin-left: 55px;
    font-size: larger;
}
#balance-button{
    margin: 15px;
    background-color: blanchedalmond;
    margin-left: 190px;
    height: 35px;
    border-radius: 6px;
}
.inline{
    display: inline;
}
#circle{
    border: 2px solid black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 200px;
}
#question-mark{
    margin-left: 35px;
    padding: 10px;
    font-size: x-large;
}
#bet-amount{
    margin-left: 55px;
    font-size: larger;
}
#five-hundred{
    margin-left: 55px;
}
#one-thousand{
    margin-left: 110px; 
}
#two-thousand{
    margin-left: 110px; 
}
#button-div{
    margin: 15px;
}
.cancel-button{
    margin-left: 45px;
    background-color: skyblue;
    height: 40px;
    width: 100px;
    border-radius: 6px;
}
.submit-button{
    margin-left: 195px;
    background-color: skyblue;
    height: 40px;
    width: 100px;
    border-radius: 6px;
} */