/*  */
#buyunz{
    color: white; font-size: 2.5rem;
}
.second-nav-left{
    margin-left: 650px;
}
.third-nav-left{
    margin-left: 350px;
}
#lights-image{
    margin-left: 900px;
}
#left-col-first-container{
    margin-left: 150px; 
    background-color: rgb(53, 51, 51);
}
#kcc-image{
    margin-left: 160px;
}
#vs-image{
    margin-left: 250px; padding: 10px;
}
#vipers-image{
    margin-right: 160px; margin-top: 10px;
}
#match-day{
    font-size: larger; font-weight: 400; margin-left: 550px; color: white;
}
#match-date{
    font-size: larger; font-weight: 200; margin-left: 35px; color: white; text-align: center;
}

@media only screen  and (min-width:1280px){
    #buyunz{
        color: white; 
        font-size: 1.9rem;
        margin-top: 13px;
    }
    .second-nav-left{
        margin-left: 250px;
    } 
    .third-nav-left{
        margin-left: 90px;
    }
    #lights-image{
        margin-left: 700px;
    }
    #left-col-first-container{
        margin-left: 95px; 
        background-color: rgb(53, 51, 51);
    }
    #kcc-image{
        margin-left: 60px;
    }
    #vs-image{
        margin-left: 100px; padding: 10px;
    }
    #vipers-image{
        margin-right: 200px; margin-top: 10px;
    }
    #match-day{
        font-size: larger; font-weight: 400; margin-left: 300px; color: white;
    }
    #match-date{
        font-size: larger; font-weight: 200; margin-left: -175px; color: white; text-align: center;
    } 
    
}
@media only screen  and (min-width:1650px){
    #buyunz{
        color: white; 
        font-size: 2rem;
        margin-top: 13px;
    }
    .second-nav-left{
        margin-left: 650px;
    } 
    .third-nav-left{
        margin-left: 450px;
    }
    #lights-image{
        margin-left: 1000px;
    }
    #left-col-first-container{
        margin-left: 95px; 
        background-color: rgb(53, 51, 51);
    }
    #kcc-image{
        margin-left: 200px;
    }
    #vs-image{
        margin-left: 200px; 
        padding: 10px;
    }
    #vipers-image{
        margin-right: 200px; margin-top: 10px;
    }
    #match-day{
        font-size: larger; 
        font-weight: 400; 
        margin-left: 550px; 
        color: white;
    }
    #match-date{
        font-size: larger; 
        font-weight: 200; 
        margin-left: 35px; 
        color: white; 
        text-align: center;
    } 
    
}